@import '../../../bower_components/susy/sass/susy';
@import '../../../bower_components/breakpoint-sass/stylesheets/breakpoint';

.demo-image-bg{
    padding-top: 56.25%;
    width: 100%;
    background-position: 50%;
    background-size: cover;
    margin-bottom: 20px;
}

.demo-image-img{
    max-width: 100%;
}